.form-container{
    margin: auto;
    margin-top: 30px;
    height: 500px;
    width: 500px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 20px;
   
}
.form-box{
    margin-top: 100px;
    text-align: center;
}
input[type="text"]{
    width: 400px;
    border: none;
    border-bottom: 1px solid gray;
    margin-top: 20px;
    outline: none;
}
input[type="date"]{
    width: 400px;
    border: none;
    border-bottom: 1px solid gray;
    margin-top: 20px;
    outline: none;
}
input[type="submit"]{
    background-color: blue;
    height: 45px;
    width: 400px;
    margin-top: 35px;
    border-radius: 5px;
    color: white;
}